body {
    font-family: 'Cantata One', serif;
    background-color: #989898;
}

.container {
    max-width: 100%;
}

.jumbotron {
    border-top: 8px double #fff;
    border-bottom: 8px double #fff;
    border-radius: 0;
    background: linear-gradient(#b94c4c, transparent 100%),
    linear-gradient(0deg, #b94c4c, transparent 100%), #b94c4c url(bg-gif.gif) center no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: inset 0px 11px 20px -10px #000,
                inset 0px -11px 20px -10px #000; 
}

.display-4 {
    font-family: 'Bungee Inline', cursive;
    color: #fff;
    text-shadow: -1px 0px 20px #ababab;
    letter-spacing: 3px;
    font-size: 4rem;
}

.trending,
.random {
    font-family: 'Bungee Inline', cursive;
    border: none;
    border-radius: 70px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px 0;
    box-shadow: inset 0px 0px 20px 0px #fff;
}

.trending {
    margin-left: 70px;
    margin-right: 25px;
}

.random {
    margin-left: 25px;
    margin-right: 70px;
}

.created-buttons .btn {
    font-family: 'Bungee Inline', cursive;
    background-color: #0894ca;
    border: 1px dotted #fff;
    border-radius: 0px;
    padding: 20px 20px;

    animation-name: flash;
	animation-duration: 1.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.created-buttons .btn:nth-child(2n) {
    background-color: #1abf4c;
    animation-duration: 2.2s;
}

.created-buttons .btn:nth-child(3n) {
    background-color: #e4d043;
    animation-duration: 2s;
}

.created-buttons .btn:nth-child(4n) {
    background-color: #b94c4c;
    animation-duration: 3s;
}

.created-buttons .btn:nth-child(5n) {
    background-color: #9e72b9;
    animation-duration: 2.5s;
}

.created-buttons .btn:nth-child(7n) {
    background-color: #f89500;
    animation-duration: 3.5s;
}

.created-buttons .btn:nth-child(9n) {
    background-color: #00dbf8;
    animation-duration: 1.5s;
}

.created-buttons .btn:hover,
.created-buttons .btn:focus {
    color: #495057;
    background-color: #fff;
    animation-duration: 0s;
}

/* cool feature that makes buttons flash */
@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

img {
    margin-bottom: 10px;
    max-width: 100%;
}

#user-form {
    margin: 0 250px;
}

#user-input {
    border-radius: 0;
}

#add-button {
    font-family: 'Bungee Inline', cursive;
    background-color: #565656;
    border: none;
    color: #fff;
    border-radius: 0;
}

#add-button:hover {
    background-color: #404040;
}

.form-control::placeholder {
    font-style: italic;
    color: rgb(206, 205, 205);
}

.instructions p {
    font-size: .8rem;
    display: inline;
    background-color: #565656;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0px #fff;
}

.load-more {
    margin: 0 350px;
}

/* --- media queries --- */

/* tablets (landscape) and bigger */
@media only screen and (min-width: 1300px) {

    .instructions p {
        font-size: 1rem;
    }

    #user-form {
        margin: 0 480px;
    }

    .load-more {
        margin: 0 630px;
    }

    .trending {
        margin-left: 150px;
    }

    .random {
        margin-right: 150px;
    }

} /* <--- end media query */